
<h1>Index</h1>
<% @auctions.each do |auction| %>
    <div><h2>Title: <%= link_to auction.title, auction_path(auction) %> </h2></div>
    <div>Body: <%= auction.body %> </div>
    <div>Posted on <%= auction.created_at %> </div>
<% end %>

